@import "tailwindcss";
/* @theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-sm: 380px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1280px; /* ← Rename this to avoid duplicate sm 
/* }  */

body {
  width: 100vw;
  overflow-x: hidden;
}
